---
title: About Data Migration in MySQL for Pivotal Platform
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains how data migration works in <%= vars.product_full %>.

Read this topic before you do in the procedures in
[Migrating Data in <%= vars.product_short %>](./migrate-data.html).


## <a id='overview'></a>The migrate Command

You can use the `mysql-tools` CLI plugin to migrate MySQL data with the `migrate` command.
The `migrate` command does a streaming `mysqldump` and restore to migrate data from
your source MySQL database to a destination <%= vars.product_full %> v2 instance.

The command supports connections over TLS. If TLS is configured in
the source and destination MySQL instances, the data is securely streamed using TLS.
For information about how to configure TLS in a <%= vars.product_full %> v2 service instance,
see
[Using TLS](./using-tls.html).

During data migration, the `migrate` command:

  1. Creates a new <%= vars.product_full %> v2 service instance in the destination space
  with the same name as the source MySQL service instance name.
  1. Copies the source data over to the new service instance.
  1. Appends `-old` to the source service instance name,
  regardless if the source is a <%= vars.product_full %> service instance or
  a user-provided service instance.


## <a id='use-cases'></a>Use Cases

The `migrate` command supports most migration use cases, including the cases listed in the following
table:

<table>
  <tr>
    <th>Migrating from...</th>
    <th>To...</th>
  </tr>

  <tr>
    <td>Single Node</td>
    <td>Highly Available (HA) Cluster</td>
  </tr>

  <tr>
    <td>Leader-Follower</td>
    <td>HA Cluster</td>
  </tr>

  <tr>
    <td>HA Cluster</td>
    <td>Leader-Follower</td>
  </tr>

  <tr>
    <td>HA Cluster</td>
      <td>Single Node</td>
  </tr>

  <tr>
    <td>Off-Platform Database</td>
    <td><%= vars.product_full %> v2</td>
  </tr>

  <tr>
    <td>Availability Zone (AZ)</td>
    <td>Another AZ</td>
  </tr>

  <tr>
    <td>
      <%= vars.product_old %> v1</td>
      <td><%= vars.product_full %> v2</td>
  </tr>
</table>

## <a id='unsupported'></a>Unsupported Data

<p class="note warning"><strong>Warning:</strong>
The <code>migrate</code> command does not migrate all stored programs.
The command only migrates views and does not migrate triggers, routines, or events.
To manually migrate triggers, routines,	or events,
contact <a href="https://pivotal.io/support">Pivotal Support</a>.</p>

The `migrate` command skips the following system schemas:

- `cf_metadata`
- `information_schema`
- `mysql`
- `performance_schema`
- `sys`
