---
title: Running Errands
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how to use the BOSH CLI to run service broker
errands. Errands can manage service brokers and run mass operations on service
instances created by brokers.

## <a id="errand"></a> Run an Errand

To run an errand:

1. Locate the BOSH deployment name for your MySQL service broker by entering the following
command:

```
bosh deployments
```

1. Run the errand by running:

```
bosh -d pivotal-mysql-GUID run-errand ERRAND-NAME
```

Where:

+ `pivotal-mysql-GUID` is the BOSH deployment name for your MySQL service broker.
+ `ERRAND-NAME` is the name of the errand you want to run.

For example:

<pre class="terminal">$ bosh -d pivotal-mysql-e3ddd36247fe5b923caf run-errand deregister-broker</pre>

## <a id="find-deprecated-bindings"></a>find-deprecated-bindings

The `find-deprecated-bindings` errand lists apps and service keys that are deprecated in <%= vars.platform_name %> v<%= vars.current_minor_version %> because they do not require TLS.
Pivotal recommends that operators configure bindings to require TLS,
in the MySQL tile **Security** pane > **TLS Options**.

The errand exits whether or not a deprecated binding is found.

See below example of the errand output:

<pre class="terminal">
$ bosh -d pivotal-mysql-e3ddd36247fe5b923caf run-errand find-deprecated-bindings
Using environment '10.0.0.5' as client 'ops_manager'

Using deployment 'pivotal-mysql-e3ddd36247fe5b923caf'

Task 148

Task 148 | 02:42:08 | Preparing deployment: Preparing deployment (00:00:01)
Task 148 | 02:42:09 | Running errand: dedicated-mysql-broker/63f9ad1e-998e-451e-8c6e-f6211958f6fb (0) (00:00:03)
Task 148 | 02:42:12 | Fetching logs for dedicated-mysql-broker/63f9ad1e-998e-451e-8c6e-f6211958f6fb (0): Finding and packing log files (00:00:01)

Task 148 Started Tue Dec 18 02:42:08 UTC 2018
Task 148 Finished Tue Dec 18 02:42:13 UTC 2018
Task 148 Duration 00:00:05
Task 148 done

Instance   dedicated-mysql-broker/63f9ad1e-998e-451e-8c6e-f6211958f6fb
Exit Code  0
Stdout     +---------------------------+--------------------------------------+------------------------+--------------------------+--------------------+-------------------+-----------------------------+
           |          SERVICE          |             SERVICE GUI             |          ORG           |          SPACE           | APP OR SERVICE KEY |       TYPE        |           REASON            |
           +---------------------------+--------------------------------------+------------------------+--------------------------+--------------------+-------------------+-----------------------------+
           | tlsDB                     | a999db0b-176e-4ac8-8342-d72b338d1f0c | MYSQL-ORG-upgrade-test | MYSQL-SPACE-upgrade-test | user-cli           | ServiceKeyBinding | no tls                      |
           | upgrade-outdated-instance | 34f26746-fb46-4f14-87bc-e1ddce26f340 | MYSQL-ORG-upgrade-test | MYSQL-SPACE-upgrade-test | cs-accept          | AppBinding        | no tls
           +---------------------------+--------------------------------------+------------------------+--------------------------+--------------------+-------------------+-----------------------------+
</pre>


## <a id="smoke-tests"></a>smoke-tests

This errand performs a test to validate that the service broker has been installed
and configured correctly and can perform the basic functions of creating and
removing service instances. If this errand runs successfully, <%= vars.product_name %> is
installed successfully.

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

## <a id="upgrade-all-service-instances"></a>upgrade-all-service-instances

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-tech-upgrade-all' %>

For more information, see [Upgrading <%= vars.product_name %>](upgrade.html#upgrade-instances).



## <a id="register-broker"></a>register-broker

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-tech-register-broker' %>


## <a id="delete-all-service-instances-and-deregister-broker"></a>delete-all-service-instances-and-deregister-broker


Ops Manager runs this errand only when deleting <%= vars.product_old %>.
Running this errand removes all service instances and their data.

<p class="note warning"><strong>Warning:</strong> This errand destroys all of the on-demand service instances
  and deregisters the broker from <%= vars.platform_name %>. Use it with extreme caution.
</p>

This errand:

1. Disables service access to the service offering for all orgs and spaces. The errand disables service
access to ensure that new instances cannot be provisioned during the lifetime of the errand.
1. Unbinds all apps from the service instances.
1. Deletes all service instances sequentially. Each service instance deletion includes:
  1. Running any pre-delete errands.
  1. Deleting the BOSH deployment of the service instance.
  1. Checking for instance deletion failure, which results in the errand failing immediately.
1. Determines whether any instances have been created while the errand was running.
If new instances are detected, the errand returns an error.
In this case, Pivotal recommends running the errand again.
1. Deregisters the broker from Cloud Foundry.
