---
title: Running Errands
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how to use the BOSH CLI to run service broker
errands.

## <a id="overview"></a> Overview

Errands can manage service brokers and run mass operations on service
instances created by brokers. For instructions about running errands,
see [Run an Errand](#errand) below.

<%= vars.product_full %> supports the following errands:

+ [find-deprecated-bindings](#find-deprecated-bindings)
+ [smoke-tests](#smoke-tests)
+ [configure-leader-follower](#configure-leader-follower)
+ [make-leader](#make-leader)
+ [make-read-only](#make-read-only)
+ [upgrade-all-service-instances](#upgrade-all-service-instances)
+ [register-broker](#register-broker)
+ [delete-all-service-instances-and-deregister-broker](#delete-all-service-instances-and-deregister-broker)
+ [recreate-all-service-instances](#recreate-all-service-instances)


## <a id="errand"></a> Run an Errand

To run an errand:

1. View the BOSH deployment name for your MySQL service broker by running:

    ```
    bosh deployments
    ```

1. Run:

    ```
    bosh -d pivotal-mysql-GUID run-errand ERRAND-NAME
    ```

    Where:
    + `pivotal-mysql-GUID` is the BOSH deployment name for your MySQL service broker.
    + `ERRAND-NAME` is the name of the errand you want to run.

    For example:

    <pre class="terminal">$ bosh -d pivotal-mysql-e3ddd36247fe5b923caf run-errand deregister-broker</pre>


## <a id="available-errands"></a> Available Errands

The following sections describe each service broker errand that
you can run.

### <a id="find-deprecated-bindings"></a> find-deprecated-bindings

The `find-deprecated-bindings` errand does the following:

* Lists app bindings and services keys that are deprecated in
<%= vars.product_short %> v<%= product_info['local_product_version'] %>. 
The bindings are deprecated because they do not require TLS.

* Exits whether or not a deprecated binding is found.


VMware recommends that operators configure bindings to require TLS. For more information, 
see [Configure TLS](./install-config.html#security).



### <a id="smoke-tests"></a>smoke-tests

The `smoke-tests` errand does the following:

- Validates that the service broker has been installed and configured correctly. 
If this errand runs successfully, <%= vars.product_short %> is installed successfully.
- Creates or removes service instances.



### <a id="configure-leader-follower"></a> configure-leader-follower

The `configure-leader-follower` errand does the following:

* Configures replication on the follower and ensures the leader is writable.
* Runs after every create or update of a leader-follower instance.
* If the service instance is in a bad state, fails and alerts operators with BOSH errand output.

This errand is used to trigger a leader-follower failover. 
You can also use this errand to create custom failover scripts.
For more information, see [Triggering a Leader-Follower Failover](./leader-follower-failover.html).

### <a id="make-leader"></a> make-leader

The `make-leader` errand does the following:

* Promotes a follower VM to a leader.
* Removes replication configuration from the VM, waits for all transactions to be applied to the VM,
  and sets the VM as writable.
* Fails if the original leader is still writeable. This protects against data divergence.

This errand is used to trigger a leader-follower failover. 
You can also use this errand to create custom failover scripts.
For more information, see [Triggering a Leader-Follower Failover](./leader-follower-failover.html).


### <a id="make-read-only"></a> make-read-only

The `make-read-only` errand does the following:

* Demotes a leader VM to a follower.
* Sets the VM to read-only, and guarantees that apps no longer write to this VM.
* If the follower VM is accessible, relays all in-flight transactions on the former 
leader VM to the follower VM.

This errand is used to trigger a leader-follower failover. 
You can also use this errand to create custom failover scripts.
For more information, see [Triggering a Leader-Follower Failover](./leader-follower-failover.html).

### <a id="upgrade-all-service-instances"></a> upgrade-all-service-instances

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-tech-upgrade-all' %>

For more information, see [Upgrading <%= vars.product_short %>](upgrade.html#upgrade-instances).


### <a id="register-broker"></a> register-broker

<%= partial '../../p-mysql/partials/services-tshoot/tshoot-tech-register-broker' %>


### <a id="delete-all-service-instances-and-deregister-broker"></a> delete-all-service-instances-and-deregister-broker


<p class="note warning"><strong>Warning:</strong> This errand destroys all of the
  on-demand service instances and deregisters the broker from Cloud Controller.
  Use it with extreme caution.
</p>


The `delete-all-service-instances-and-deregister-broker` errand does the following:

1. Disables service access to the service offering for all orgs and spaces.
The errand disables service
access to ensure that new instances cannot be provisioned during the lifetime of the errand.
1. Unbinds all apps from the service instances.
1. Runs any pre-delete errands for each instance.
1. Deletes the BOSH deployment of each service instance.
1. Checks for deletion failure of each instance, which results in the errand failing immediately.
1. Determines whether any instances have been created while the errand was running.
If new instances are detected, the errand returns an error.
In this case, Pivotal recommends running the errand again.
1. Deregisters the broker from Cloud Controller.


<%= vars.ops_manager %> runs this errand only when deleting <%= vars.product_short %>.
Running this errand removes all service instances and their data.




### <a id="recreate-all-service-instance"></a> recreate-all-service-instances

The `recreate-all-service-instances` errand does the following 
recreates all service instance VMs managed by an on-demand
broker.

You might want use this errand in the following cases:

* Rotating the <%= vars.ops_manager %> root certificate authority (CA).
For more information about rotating CAs, see
[Rotate CAs and Leaf Certificates](https://docs.pivotal.io/pivotalcf/security/pcf-infrastructure/api-cert-rotation.html#rotate-ca).
* Performing a full restore of the platform during disaster recovery or migration.

