---
title: Release Notes
owner: MySQL
---

<p class="note"><strong>Note</strong>: MySQL for PCF v1.10 requires PCF v1.10 and Elastic Runtime v1.10.<strong>9</strong> or later
   or PCF v2.0 or later.</p>

## <a id="1.10.15"></a>v1.10.15

Release Date: December 27, 2018

Pivotal MySQL v1.10.15 is a maintenance release. It resolves certain bugs and updates dependencies to maintain security.

### Bug Fixes and Improvements

* Smoke tests can run successfully when BOSH is configured to remove development tools.

### Dependency Updates

* Upgrade to MariaDB v10.1.36.
* Upgrade to consul v195.
* Upgrade to Golang v1.11.
* Updated to stemcell 3445.87.
  For more information,
  see [Stemcell Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/stemcell-v3445x.html#3445-line).

## <a id="1.10.14"></a>v1.10.14

Release Date: June 12, 2018

Pivotal MySQL v1.10.14 is a maintenance release.

- **Bug fix:** The `smoketests` errand runs in the organization and space combination, `system:pivotal-services` 
so that Operators can include the space in Application Security Groups (ASGs). This allows the `smoke-tests` errand 
to run successfully when the service is deployed without any public plans. For more information, see [Application Security Groups 
for MySQL](app-security-groups.html).
- **Bug fix:** Only one `mariadb_ctrl` process can run at a time. 

**Dependency Updates**

- Upgraded to MariaDB 10.1.32, and Galera to 25.3.23.
- Updated to routing v0.174.0, consul v191, and loggregator to v101.5.
- Updated to stemcell 3445.48
  For more information,
  see [Stemcell Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/stemcell-v3445x.html#3445-line).


## <a id="1.10.13"></a>v1.10.13

Release Date: April 6, 2018

- **New:** A space developer can create read-only bindings to a service instance.
- **Metrics Updates**

  - **New**: `/p-mysql/performance/cpu_utilization_percent`
  - **New**: `/p-mysql/performance/queries`

        Pivotal recommends that you use this metric instead of the older `questions` metric.

  - **Removed:** `/p-mysql/performance/busy_time`
  - **Known Issue:** The `wsrep_local_*_queue_avg` metrics do not track current state.

     For more information, see [MySQL-Specific Metrics](monitor.html#mysql-metrics).

- **Improved:** Small usability updates to `download-logs`, which now relies on `bosh ssh` instead of manual SSH.

    You can find `download-logs` with MySQL for PCF on [Pivotal Network](https://network.pivotal.io/products/p-mysql).

- **Improved:** Backups run more quickly.

    In a test environment, Pivotal reduced backup times by 50%.

- **New:** A new way to find the proxy dashboards:
    navigate to `https://proxy-p-mysql/SYSTEM-DOMAIN` to find links to each proxy you deployed.
- **Dependency Updates and Bug Fixes**
  - Update to MariaDB 10.1.30 and xtrabackup 2.4.8.
  - Update to stemcell 3445.30.
    For more information,
    see [Stemcell Release Notes](https://docs.pivotal.io/pivotalcf/2-1/stemcells/stemcell-v3445x.html#3445-30).
  - **Bug fix:** Cluster nodes no longer hang in pre-start after unclean shutdown of cluster.
  - **Bug fix:** MySQL for PCF no longer duplicates logs related to the `routing-release` jobs.
      This was a regression introduced in v1.10.7.

  - **Bug fix:** Several improvements to logging when backups have errors to report.
  - **Bug fix:** Backups now avoid orphan processes during routine maintenance, such as upgrades.
  - **Bug fix:** The streaming-mysql-backup-tool job now fails if backup-prepare is scaled to 0.

        This fix reduces the likelihood of this error:

            - Unable to render templates for job 'streaming-mysql-backup-tool'. Errors are:
              - Error filling in template 'streaming-mysql-backup-tool.yml.erb' (line 8: Can't find property '["cf-mysql-backup.endpoint_credentials.username"]')
              
<%= partial 'mariadb_ctrl_issue' %>

## <a id="1.10.12"></a>v1.10.12

Release Date: February 23, 2018

- Update to stemcell 3445.28 to address:
  - [USN-3583-2: Linux kernel (Trusty HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3583-2/)

    For more information, see [pivotal.io/security](https://pivotal.io/security).   
     
<%= partial 'mariadb_ctrl_issue' %>

## <a id="1.10.11"></a>v1.10.11

Release Date: February 7, 2018

- **New:** Added metrics that represent disk usage as percentages.
           This makes it easier to alert on disk usage without knowing the deployment disk size.
           For more information, see the [Persistent and Ephemeral Disk Used](monitor.html#disk-free).
  - /p-mysql/system/persistent\_disk\_used\_percent
  - /p-mysql/system/ephemeral\_disk\_used\_percent
  - /p-mysql/system/persistent\_disk\_inodes\_used\_percent
  - /p-mysql/system/ephemeral\_disk\_inodes\_used\_percent
- **Bug fix:** `mysql-diag` now fails quickly when VMs in the cluster are not available
- **Bug fix:** replication-canary causes high memory usage spikes because it overwrites logs files rather than appends 

<%= partial 'mariadb_ctrl_issue' %>

## <a id="1-10-10"></a>v1.10.10

Release Date: January 24, 2018

- Update to stemcell 3445.24 to address:
  - [USN-3540-2: Linux (Xenial HWE) vulnerability](http://www.ubuntu.com/usn/usn-3540-2/)
  
<%= partial 'mariadb_ctrl_issue' %>

## <a id="1-10-9"></a>v1.10.9

Release Date: January 19, 2018

- **Improved:** We've updated backups to be transmitted over TLS from the MySQL nodes to the backup-prepare node.
- Update to stemcell 3445.23 to address:
  - [USN-3522-2: Linux (Xenial HWE) vulnerability](http://www.ubuntu.com/usn/usn-3522-2/)
  - [USN-3522-4: Linux kernel (Xenial HWE) regression](http://www.ubuntu.com/usn/usn-3522-4/)
  - [USN-3534-1: GNU C Library vulnerabilities](http://www.ubuntu.com/usn/usn-3534-1/)

    For more information, see [pivotal.io/security](https://pivotal.io/security).  
    
<%= partial 'mariadb_ctrl_issue' %>

## <a id="1-10-8"></a>v1.10.8

Release Date: December 13, 2017

- Update to stemcell 3445.19 to address [CVE-2017-1000405](https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-1000405.html).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-7"></a>v1.10.7

Release Date: December 8, 2017

MySQL for PCF v1.10.7 resolves several bugs, updates dependencies to maintain security,
and includes changes that improve syslog and metrics.

- **Syslog Format Change**
  - The components of MySQL for PCF, MySQL, Proxy, MySQL, Backups and Monitoring have been configured
    to observe RFC 5424 message format when sending logs to syslog.

- **New Disk Usage Metrics**

  - MySQL for PCF now produces disk space metrics and how much space has been reserved for service instances.
    For more information, see [Persistent and Ephemeral Disk Free](monitor.html#disk-free)
    and [Service Plans Allocated](monitor.html#broker-plans-allocated) in the KPI documentation.

- **Dependency Updates**
  - Updated to stemcell 3445.17 to address low and medium vulnerabilities.
  - Updated versions of Ruby and associated libraries, and socat to avoid known vulnerabilities.

- **Bug Fixes**
  - **Bug fix:** Fixed a rare bug which left hanging backup processes on the MySQL nodes if a client disconnects unexpectedly.
  - **Bug fix:** streaming-mysql-backup-tool was running as `root`, now it runs user `vcap`.
  - **Bug fix:** Fixed a rare bug in which the replication canary could write to a node which was not a member of the cluster,
                 causing the cluster to be in an inconsistent state.

- **IPsec**
  - **Bug fix:** MySQL failed to start if the node once had IPsec installed but IPsec is no longer installed.
  - **Bug fix:** IPsec caused mariadb_ctrl to be left in an `Execution Failed` state when taking time to start.

## <a id="1-10-6"></a>v1.10.6

Release Date: November 3, 2017

- **New:** Changed the default of `innodb_flush_log_at_trx_commit` to `2`.
    This is considered safe when using Galera in clustered mode.
    Single node and very conservative cluster deployments might want to reset to the former default, `1`.
    For details, see [InnoDB Flush Log policy: 2](architecture.html#innodb-flush-log-at-trx-commit).
- Update to MariaDB [10.1.26](https://mariadb.com/kb/en/library/mariadb-10126-release-notes/)
- Upgrade nokogiri to 1.8.1, and rubygems to 2.6.13, to address recent Common Vulnerabilities and Exposures (CVEs)
- Update to stemcell 3445.16 to address low and medium stemcell vulnerabilities
- **Bug fix:** Smoke tests do not run if there are no public plans.

## <a id="1-10-5"></a>v1.10.5

Release Date: September 29, 2017

- Provides a checkbox where the operator can configure table locking behavior.
  For more information, see [Allow Table Locks](configuring.html#allow-table-locks).
- Bumped the default size of the backup VMs from 1&nbsp;GB RAM / 2 CPUs to 4&nbsp;GB RAM / 4 CPUs.
  You can customize this default in the Resource Configuration pane.
- **Bug fix:** Pre-start phase logs warnings, rather than time out, when `mysqld` takes time to start or stop.
- **Security:** Updates to rubygems 2.6.6 to address [CVE-2017-0902](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-0902).

## <a id="1-10-4"></a>v1.10.4

Release Date: September 21, 2017

- Updates stemcell to 3363.37.
  This security upgrade resolves [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-3"></a>v1.10.3

Release Date: September 14, 2017

- Re-names package dependencies to avoid installation conflicts.
- Updates stemcell to 3363.35, which addresses a minor logrotate issue.

## <a id="1-10-2"></a>v1.10.2

Release Date: August 21, 2017

- Updates stemcell to 3363.31.
  This security upgrade resolves [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-1"></a>v1.10.1

Release Date: August 16, 2017

- Updates stemcell to 3363.30. This security upgrade resolves [USN-3385-2](https://usn.ubuntu.com/usn/usn-3385-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-0"></a>v1.10.0

Release Date: August 11, 2017

- **Change the Interruptor default setting to OFF.**

    For a [year](http://docs.pivotal.io/p-mysql/1-7/release-notes.html#1-7-11), MySQL for PCF has included the [Interruptor](interruptor.html). It's a protective mechanism which stops a node from automatically rejoining the cluster if doing so might delete application data. We also upgraded to [MariaDB 10.1](https://mariadb.com/kb/en/mariadb/what-is-mariadb-101/) and provided the [Replication Canary](monitor.html#repcanary) to further protect application data. There have been zero instances where the Interruptor has been needed to protect application data.<br><br>

    In this release, we are disabling the Interruptor because it is disruptive to normal cluster function, and requires manual operator action to restore availability. We feel confident that disabling the Interruptor in all but the most critical environments is a safe and convenient choice.<br><br>

    If you want to continue using the Interruptor, make sure that "Prevent node auto re-join" is checked in the "Advanced Options" configuration pane, then hit **Apply Changes.**
- Resolves an issue in which MySQL for PCF v1.9 does not emit metrics on PCF v1.11.
- Small improvements to the `mysql-diag` tool, now including a warning when available disk space is low.
- Upgrades several dependencies including `nokogiri 1.8.0`, `golang 1.8.3`, `xtrabackup 2.4.5`, `boost 1.59.0`, and `python 2.7.13`
- Updates stemcell to 3363.29. This security upgrade resolves [USN-3265-2](http://www.ubuntu.com/usn/USN-3265-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).
