---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-9-0"></a> v2.9.0

**Release Date: September 14, 2020**

### Features

New features and changes in this release:

+ **Improved backup and restore workflow:**
Operators and developers can use the ApplicationDataBackupRestore (adbr) plugin
with the Cloud Foundry Command Line Interface (cf CLI) to back up and
restore service instances.
For more information, see [Backing Up and Restoring <%= vars.product_full %>](./backup-restore.html)
and [Manually Restoring from Backup](restore.html).

+ **VMware strongly recommends that if operators offer an HA cluster plan,
  they also offer a <%= vars.single_leader_plan %> plan.**
  To restore an HA cluster service instance from backup, developers need access
  to a <%= vars.single_leader_plan %> plan.
  For more information,
  see [Restore a Service Instance](./backup-restore.html#restore) in _Backing Up and Restoring <%= vars.product_full %>_
  and [Configure Service Plans](./install-config.html#active).

+ **A developer can change the backup schedule for an individual service instance using
an arbitrary parameter:**
For more information, see [Backup Schedule](./change-default.html#backup-schedule).

+ **Each backup artifact has a unique encryption key:**
  Each backup of any MySQL service instance now uses a unique encryption key.

+ **SCP backups use SFTP:**
  When Secure copy protocol (SCP) is configured as the external storage to upload backups,
  it now relies on SSH File Transfer Protocol (SFTP).

+ **All service instances are provisioned with a DNS alias:**
  This DNS alias is used as the hostname in new service keys.
  Old service keys, which use the DNS address for the hostname, continue to work.

+ **The legacy workflow to enable TLS on a service instance has been removed:**
  In the legacy workflow, which  was deprecated after MySQL for PCF v2.4,
  developers had to run `cf update-service` to enable TLS on each service instance.
  This workflow is no longer needed because MySQL connectors can use the DNS alias to connect
  to the service instance over TLS.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/multi-site-network-name-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/connector-ki" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td>621.78*</td></tr>
  <tr><td>Percona Server</td><td>5.7.30-33</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.30-31.43</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20</td></tr>
  <tr><td>mysql-backup-release</td><td>2.15.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.15.0</td></tr>
  <tr><td>pxc-release</td><td>0.28.0</td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
