---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-9-X"></a> v2.9.0

**Release Date: XXX X, 20XX**

### Features

New features and changes in this release:

+ **Improved backup and restore workflow:**
Operators and developers can use the ApplicationDataBackupRestore (adbr) plugin
with the Cloud Foundry Command Line Interface (cf CLI) to back up and
restore service instances.
For more information, see [Backing up and Restoring <%= vars.product_full %>](./backup-restore.html)
and [Manually Restoring from Backup](restore.html).

+ **A developer can change the backup schedule for an individual service instance using
an arbitrary parameter:**
For more information, see [Backup Schedule](./change-default.html#backup-schedule).

+ Each backup of any MySQL service instance now uses a unique encryption key.
  For more information,
  see [Retrieve Backup Encryption Key](restore.html#retrieve-key) in _Manually Restoring from Backup_.

+ When Secure copy protocol (SCP) is configured as the external storage to upload backups,
it now relies on SSH File Transfer Protocol (SFTP).

+ All service instances are provisioned with a DNS alias to be used as the hostname
in new service keys and the common name for the MySQL server certificate.

+ Legacy workflow to enable TLS on a service instance has been removed. All MySQL connectors should
be able to use the DNS alias to connect to the service instance over TLS.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/connector-ki" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>


### Compatibility
The following components are compatible with this release:

<table border="1" class="nice">

  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>

  <tr><td>Stemcell</td><td></td></tr>
  <tr><td>Percona Server</td><td></td></tr>
  <tr><td>Percona XtraDB Cluster</td><td></td></tr>
  <tr><td>Percona XtraBackup</td><td> </td></tr>
  <tr><td>mysql-backup-release</td><td></td></tr>
  <tr><td>mysql-monitoring-release</td><td></td></tr>
  <tr><td>pxc-release</td><td></td></tr>

</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
