---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-8-1"></a> v2.8.1

**Release Date: May 21, 2020**

### Features
New features and changes in this release:

+ **Filenames for backup artifacts include an instance UUID:**
Operators can use this UUID to differentiate between the leader and follower backup artifacts.

+ **Developers can enable lowercase table names when they update service instances:**
If an operator selects **Allow Developers To Override Lower Case Table Names** in the tile,
developers can enable and disable the `lower_case_table_names` property when they update a service instance.
Previously, they could only enable this feature when they created a service instance.

### Resolved Issues
This release has the following fixes:

+ **Smoke tests no longer fail with a timeout:**
  Previously, if you had many buildpacks in your environment, smoke tests sometimes failed.

+ **Enable Lower Case Table Names no longer
enables the feature on existing service instances:**
Previously, if a developer selected **Enable Lower Case Table Names** in the tile,
existing tables with uppercase names were orphaned.
Now, if the feature is enabled in the tile,
**Enable Lower Case Table Names** is only applied to new service instances.

+ **Leader-follower backups are no longer overwritten:**
Previously, <%= vars.product_short %> sometimes only stored one backup file from a random node.
Now, <%= vars.product_short %> uploads both the leader and follower backup artifacts to the blobstore.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/multi-site-incompatibility" %>
<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/connector-ki" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  <tr><td>Stemcell</td><td>621.74*</td></tr>
  <tr><td>Percona Server</td><td>5.7.28-31</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.28-31.41</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.20*</td></tr>
  <tr><td>mysql-backup-release</td><td>2.14.0*</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.13.0*</td></tr>
  <tr><td>pxc-release</td><td>0.26.0*</td></tr>
</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="2-8-0"></a> v2.8.0

**Release Date: April 16, 2020**

### Features

New features and changes in this release:

#### <%= vars.single_leader_plan %>
+ **Open Beta for <%= vars.single_leader_plan %> Plans:**
Developers can configure a follower service instance for <%= vars.single_leader_plan_lc %> across foundations.
For more information,
see [Using <%= vars.product_short %> for Multi-Site Replication](./use-multi-site.html).
+ **Backup and Restore <%= vars.single_leader_plan %> Service Instances:**
Operators can configure automated backups for <%= vars.single_leader_plan %> service instances.
Operators can also use the `mysql-restore` utility to restore
a <%= vars.single_leader_plan %> instance from a backup.
For more information,
see [Backing up <%= vars.product_short %>](./backup.html) and [Restoring <%= vars.product_short %>](./restore.html).

+ **<%= vars.single_leader_plan %> Metrics:** You can view metrics for <%= vars.single_leader_plan %>
service instances in realtime using `cf tail`.

#### Additional New Features

<%= partial vars.path_to_partials + '/services/you-can-upgrade-one-si' %>

+ **Telemetry Data:** <%= vars.product_short %> sends Telemetry data when the Telemetry tile is enabled in your foundation.
  For more information about the Telemetry tile,
  see [Telemetry for Ops Manager](https://docs.pivotal.io/pivotal-telemetry/).

+ Operators can run the `recreate-all-service-instances` errand to re-create service instance VMs.

#### Feature Improvements
+ **Improved Certificate Rotation Workflow:** <%= vars.product_short %> is compatible with the
<%= vars.ops_manager %> CredHub Maestro certificate rotation feature.
Operators can enable this feature in <%= vars.ops_manager %> v2.8 and later.
For more information,
see [CredHub Maestro Rotates BOSH DNS Certificate Authorities](https://docs.pivotal.io/platform/2-8/release-notes/opsmanager-rn.html#maestro-rotate-ca).

+ **Change Highly Available (HA) Cluster Server Defaults:** Developers can set optional parameters
to change MySQL server defaults for HA cluster plans. For instructions for
changing server defaults, see [Changing MySQL Server Defaults](./change-default.html).

+ **Restore HA Clusters with mysql-restore Utility:** Operators can use the `mysql-restore`
utility to restore an HA cluster from a backup.
For more information about the `mysql-restore` utility,
see [Restore the Service Instance](./restore.html#restore-instance).

+ An error message appears when developers bind apps to custom schemas with invalid names.
The error message shows the valid characters for custom schema names.

+ Apps no longer timeout when connecting to service instances because of latencies
in BOSH DNS hostname resolution. This issue has been resolved for app and service key
bindings to service instances of all plan types.

<%= partial vars.path_to_partials + "/services/feature-ops-manager-syslog" %>


### Security Fix

This release includes the following security update:

+ Expired and unused certificates for HA clusters no longer
are stored on HA cluster service instances.

### Known Issues

This release has the following issues:
<%= partial vars.path_to_partials + "/mysql/multi-site-incompatibility" %>
<%= partial vars.path_to_partials + "/mysql/smoke-test-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/lf-backups-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/connector-ki" %>
<%= partial vars.path_to_partials + "/mysql/enable-lowercase" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  <tr><td>Stemcell</td><td>621.61</td></tr>
  <tr><td>Percona Server</td><td>5.7.28-31</td></tr>
  <tr><td>Percona XtraDB Cluster</td><td>5.7.28-31.41</td></tr>
  <tr><td>Percona XtraBackup</td><td>2.4.18 and 2.4.15</td></tr>
  <tr><td>mysql-backup-release</td><td>2.13.0</td></tr>
  <tr><td>mysql-monitoring-release</td><td>9.11.0</td></tr>
  <tr><td>pxc-release</td><td>0.24.0</td></tr>
</table>

&#42; _Components marked with an asterisk have been updated_

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
