---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.7.x
version, upgrade to the latest v2.7.x version before upgrading to the latest v2.8.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-8-X"></a> v2.8.0

**Release Date: XXX X, 20XX**

### Features

New features and changes in this release:

+ **Individual Service Instance Upgrades:** Developers can upgrade <%= vars.product_short %> service instances individually using the
Cloud Foundry Command Line Interface (cf CLI).
For information about enabling this feature,
see [About Individual Service Instance Upgrades](#individual-upgrades).
For instructions for individually upgrading service instances ,
see [Upgrade a Single Service Instance](./use.html#single).

+ **Change HA Cluster Server Defaults:** Developers can set optional parameters
to change MySQL server defaults for HA cluster plans. For instructions for
changing server defaults, see [Changing MySQL Server Defaults](./change-default.html).

+ **Restore HA Clusters with mysql-restore Utility:** Operators can use the `mysql-restore`
utility to restore a HA cluster from a backup.
For more information, see [Restoring <%= vars.product_short %>](./restore.html).

### Security Fix

This release includes the following security update:

## Known Issue

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

<%= partial vars.path_to_partials + "/mysql/lf-backups-ki" %>

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>XXX</td>
</tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
