---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-8-X"></a> v2.9.0

**Release Date: XXX X, 20XX**

### Features

New features and changes in this release:

### Security Fix

This release includes the following security update:

### Known Issues

This release has the following issues:
<%= partial vars.path_to_partials + "/mysql/smoke-test-ki" %>
<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/lf-backups-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/connector-ki" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
