---
title: Release Notes
Owner: MySQL
---

<%= partial '../../p-mysql/partials/branding-change'%>
<%= partial '../../p-mysql/partials/pcf-name-change'%>

<strong><%= modified_date %></strong>

<%= vars.recommended_by %> that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-7-6"></a> v2.7.6

**Release Date: February 24, 2020**

### Features

New features and changes in this release:

* Operators can monitor Key Performance Indicators (KPIs) for
persistent and ephemeral disk usage, and number of connections
on the Healthwatch Indicator Protocol dashboard.
For more information, see
[Use the Indicator Protocol Dashboard](./monitor.html#indicator).

* Operators can run the `recreate-all-service-instances` errand to
re-create service instances VMs.

* An error message appears when developers bind apps to custom schemas with invalid names.
The error message shows the valid characters for custom schemas names.

### Resolved Issues

This release has the following fixes:

* An inaccurate generic message no longer appears when you use `cf update-service` to migrate data
between a highly available (HA) cluster plan and a plan of another topology.
<%= vars.product_short %> now fails fast to indicate that this is an unsupported workflow.

* For <%= vars.ops_manager %> 2.7 and later, automated backups using SCP no longer silently fail.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>

+ For <%= vars.ops_manager %> 2.6 and earlier, automated backups using SCP silently fail.
For workaround instructions,
see [MySQL SCP backups are failing when prompting for the SSH key passphrase in PCF](https://community.pivotal.io/s/article/mysql-scp-backups-are-failing-when-prompting-for-the-ssh-key-s-passphrase)
in the Pivotal Support knowledge base.

## <a id="2-7-5"></a> v2.7.5

**Release Date: January 21, 2020**

### Security Fixes

This release includes the following security fix:

* Updates all dependencies to golang v1.13. This fixes the following CVE:
    + High [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)

### Resolved Issue

This release has the following fix:

* An inaccurate generic message no longer appears when the MySQL service broker fails
  to connect to the MySQL server.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>

<%= partial vars.path_to_partials + "/mysql/scp-backups" %>

## <a id="2-7-4"></a> v2.7.4

**Release Date: January 6, 2020**

### Features

New features and changes in this release:

* <%= vars.single_leader_plan %> plans support failover to a follower service instance in a different data center.
  <%= partial '../../p-mysql/partials/mysql/multi_site_beta' %>
* Operators can monitor MySQL metrics on the Healthwatch Indicator Protocol dashboard.
For more information, see [Use the Indicator Protocol Dashboard](./monitor.html#indicator).
* Highly available (HA) cluster plans only retain three days of binary logs.
This reduces persistent disk usage.

### Security Fixes

This release includes the following security fixes:

* Updates Envoy to v1.12.2. This update fixes the following CVEs:
    + Critical [CVE-2019-18801](https://nvd.nist.gov/vuln/detail/CVE-2019-18801)
    + Critical [CVE-2019-18802](https://nvd.nist.gov/vuln/detail/CVE-2019-18802)
    + High [CVE-2019-18838](https://nvd.nist.gov/vuln/detail/CVE-2019-18838)
* Updates Percona Server to v5.7.28-31. This update fixes multiple security issues. <br>
For more information, see
[USN-4070-1: MySQL vulnerabilities](https://usn.ubuntu.com/4070-1/)
and [USN-4195-1: MySQL vulnerabilities](https://usn.ubuntu.com/4195-1/) in the Ubuntu documentation.
* Updates golang to v1.13. This fixes the following CVE:
    + High [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)

### Resolved Issues

This release has the following fixes:

* Single node service instances no longer emit metrics for leader-follower service instances.
* Smoke test error messages now explain the actual error rather than outputting
`fork/exec /usr/local/bin/bosh: no such file or directory`.
* Audit logs are now stored on the persistent disk rather than on the syslog endpoint.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/broker-ki" %>
<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups" %>

## <a id="2-7-2"></a> v2.7.2

**Release Date: October 21, 2019**

### Features

New features and changes in this release:

* <%= vars.product_full %> supports a beta <%= vars.single_leader_plan %> service plan. This plan has the
following features:
    + Replication across two routable <%= vars.app_runtime_full %> foundations secured over mTLS.
    The primary node in a foundation only trusts the secondary node in another foundation.
    + The ability to bind and push apps to a primary node in a foundation and a secondary node in another foundation.
    <%= partial '../../p-mysql/partials/mysql/multi_site_beta' %>
* Highly available (HA) cluster plans are now in general availability (GA).
* Updates Percona Server to v5.7.26-29.
* Updates pxc-release to 0.20.0.
* Updates Envoy to v1.11.1.

### Security Fix

This release includes the following security fix:

* Updates bpm-release to v1.1.3.
This update fixes Medium [CVE-2019-9893](https://nvd.nist.gov/vuln/detail/CVE-2019-9893).

### Resolved Issues

This release has the following fixes:

* Smoke tests no longer fail when TLS is not configured.
* You can now share MySQL for Pivotal Platform service instances across orgs and spaces using `cf share-service`.
For more information, see [Share Service Instances](./use.html#share).
* Certificate rotation now works reliably with BOSH.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/metrics-ki" %>
<%= partial vars.path_to_partials + "/mysql/smoke-test-error-ki" %>
<%= partial vars.path_to_partials + "/mysql/audit-logs-ki" %>
<%= partial vars.path_to_partials + "/mysql/broker-ki" %>
<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups" %>


## <a id="2-7-1"></a> v2.7.1 - Withdrawn

**Release Date: October 10, 2019**

**This release has been removed from Pivotal Network** because of an issue that occurs when TLS is not configured.

### Features

New features and changes in this release:

* <%= vars.product_short %> supports a beta <%= vars.single_leader_plan %> service plan. This plan has the
following features:
    + Replication across two routable <%= vars.app_runtime_full %> foundations secured over mTLS.
    The primary node in a foundation only trusts the secondary node in another foundation.
    + The ability to bind and push apps to a primary node in a foundation and a secondary node in another foundation.
    <%= partial '../../p-mysql/partials/mysql/multi_site_beta' %>
* Highly available (HA) cluster plans are now in general availability (GA).
* Updates Percona Server to v5.7.26-29.
* Updates pxc-release to 0.20.0.
* Updates Envoy to v1.11.1.

### Security Fix

This release includes the following security fix:

* Updates bpm-release to v1.1.3.
This update fixes Medium [CVE-2019-9893](https://nvd.nist.gov/vuln/detail/CVE-2019-9893).

### Resolved Issues

This release has the following fixes:

* You can now share MySQL for Pivotal Platform service instances across orgs and spaces using `cf share-service`.
For more information, see [Share Service Instances](./use.html#share).
* Certificate rotation now works reliably with BOSH.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/metrics-ki" %>
<%= partial vars.path_to_partials + "/mysql/smoke-test-error-ki" %>
<%= partial vars.path_to_partials + "/mysql/audit-logs-ki" %>
<%= partial vars.path_to_partials + "/mysql/broker-ki" %>
<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups" %>

+ Smoke tests fail when TLS is not configured.

## <a id="2-7-0"></a> v2.7.0

**Release Date: August 7, 2019**

### Features

New features and changes in this release:

* When you upgrade to <%= vars.product_short %> v2.7, <%= vars.product_short %> automatically rotates internal certificates
  and certificate authority (CA) certificates.
  The new certificates do not expire for 5 years. For more information,
  see [Managing Certificates](./rotating-ca.html).

* Automatic backups are now compatible with the AWS CLI v1.16.189,
  which defaults to Amazon S3 Signature Version 4 for S3 buckets when no other configuration is provided.


### Security Fix

This release includes the following security fix:

* Updates the cf CLI to v6.46

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>
<%= partial vars.path_to_partials + "/mysql/instance-sharing" %>
<%= partial vars.path_to_partials + "/mysql/metrics-ki" %>
<%= partial vars.path_to_partials + "/mysql/smoke-test-error-ki" %>
<%= partial vars.path_to_partials + "/mysql/audit-logs-ki" %>
<%= partial vars.path_to_partials + "/mysql/broker-ki" %>
<%= partial vars.path_to_partials + "/mysql/migrate-ha" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups" %>

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td><a href="https://docs.pivotal.io/pivotalcf/2-6/stemcells/stemcells.html#315-line">315.x</a></td>
</tr>
</table>


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
