---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<%# The below uses the local product variable and math so we do not need to edit it
with every release %>
<% previous_version = (product_info['local_product_version'].to_f - 0.1).round(2) %>
<% current_version = product_info['local_product_version'] %>

VMware recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v<%= previous_version %>.x
version, upgrade to the latest v<%= previous_version %>.x version
before upgrading to the latest v<%= current_version %>.x version.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-8-X"></a> v2.8.0

**Release Date: XXX X, 20XX**

### Features

New features and changes in this release:

+ **Open Beta for <%= vars.single_leader_plan %> Plans:**
Developers can configure a follower service instance for <%= vars.single_leader_plan_lc %> across foundations.
For more information,
see [Using <%= vars.product_short %> for Multi-Site Replication](./p-mysql/2-n/use-multi-site.html).
+ **Backup and Restore <%= vars.single_leader_plan %> Service Instances:**
Operators can configure automated backups for <%= vars.single_leader_plan %>.
Operators can also use the `mysql-restore` utility to restore
a <%= vars.single_leader_plan %> instance from a backup.
For more information,
see [Backing up <%= vars.product_short %>](./backup.html) and [Restoring <%= vars.product_short %>](./restore.html).

+ **<%= vars.single_leader_plan %> Metrics:** You can view metrics for <%= vars.single_leader_plan %>
service instances in realtime using `cf tail`.

+ **CredHub Maestro Compatibility:** <%= vars.product_short %> is compatible with the <%= vars.ops_manager %> CredHub Maestro certificate rotation feature.
Operators can enable this feature in <%= vars.ops_manager %> v2.8 and later.
For more information,
see [CredHub Maestro Rotates BOSH DNS Certificate Authorities](https://docs.pivotal.io/platform/2-8/release-notes/opsmanager-rn.html#maestro-rotate-ca)

+ **Individual Service Instance Upgrades:**
Developers can upgrade <%= vars.product_short %> service instances individually using the
Cloud Foundry Command Line Interface (cf CLI).
For more information about this feature,
see [About Individual Service Instance Upgrades](./upgrade.html#individual-upgrades).
For instructions for individually upgrading service instances,
see [Upgrade a Single Service Instance](./use.html#single).

+ **Change Highly Available (HA) Cluster Server Defaults:** Developers can set optional parameters
to change MySQL server defaults for HA cluster plans. For instructions for
changing server defaults, see [Changing MySQL Server Defaults](./change-default.html).

+ **Restore HA Clusters with mysql-restore Utility:** Operators can use the `mysql-restore`
utility to restore a HA cluster from a backup.
For more information, see [Restoring <%= vars.product_short %>](./restore.html).

+ **Telemetry Data:** <%= vars.product_short %> sends Telemetry data when the Telemetry tile is enabled in your foundation.
  For more information about the Telemetry tile,
  see [Telemetry for Ops Manager](https://docs.pivotal.io/pivotal-telemetry/).

+ Operators can run the `recreate-all-service-instances` errand to re-create service instance VMs.

+ An error message appears when developers bind apps to custom schemas with invalid names.
The error message shows the valid characters for custom schema names.

+ App and service key bindings can successfully connect to single node, HA cluster,
and <%= vars.single_leader_plan %> service instances.
This is because of less stringent BOSH DNS hostname.
<%# (WAS THIS AN ISSUE BEFORE? WHAT DOES LESS STRINGENT MEAN? IS THIS MORE LIKE A RESOLVED
ISSUE?) %>


### Security Fix

This release includes the following security update:

+ Expired and unused certificates for HA clusters no longer
are stored on HA cluster service instances.
<%# (THIS WAS PROBS A KNOWN ISSUE BEFORE YES?) %>

### Known Issue

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/ki-multi-site-not-supported" %>
<%= partial vars.path_to_partials + "/mysql/lf-backups-ki" %>
<%= partial vars.path_to_partials + "/mysql/scp-backups-2-6" %>
<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>XXX</td>
</tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
