---
title: Troubleshooting On-Demand Instances
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides techniques app developers can use to begin troubleshooting on-demand instances.

## <a id="errors"></a> Troubleshoot Errors

Start here if you are responding to a specific error or error messages.

### <a id="x-product"></a> Common Service Errors

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->
<%= partial "./services-tshoot/tshoot-no-metrics" %>

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial "./services-tshoot/tshoot-credhub-failing-credentials" %>


### <a id="inaccessible"></a>If Instances or Database are Inaccessible

You might experience the following during upgrades or in a leader-follower topology:

- [Temporary Outages](#outages)
- [Apps Cannot Write to the Database](#read-only)
- [Apps Are Inoperable](#disk-full)
- [Apps Cannot Connect to the Database](#m-tls-error)
- [MySQL Connector/J v5.1.41 or Earlier](#connecter)
- [Mutual TLS](#m-tls)


<%= partial "./troubleshoot-template", locals: {
    id: 'outages',
    description: 'Temporary Outages',
    symptom: vars.product_full + ' service instances can become temporarily inaccessible during upgrades and VM or network failures.',
    solution: 'For more information, see <a href="./upgrade.html#interruptions">Service Interruptions</a>.'
} %>



<%= partial "./troubleshoot-template", locals: {
    id: 'read-only',
    description: 'Apps Cannot Write to the Database',
    symptom: 'You have a leader-follower topology and your apps can no 
    longer write to the database.',
    cause: 'The leader VM might be read-only. If you can no longer read 
    to the database as well, your persistent disk might be full.',
    solution: '<p>For more information about troubleshooting this problem, see 
    <a href="./troubleshoot.html#both-read-only">Both Leader and 
        Follower Instances Are Read-Only</a>.</p>
<p>If you can no longer read to the database as well, 
    your persistent disk might be full. For more information about 
    troubleshooting inoperable apps, see <a href="#disk-full">Apps 
    are Inoperable</a>.</p>'
} %>


<%= partial "./troubleshoot-template", locals: {
    id: 'disk-full',
    description: 'Apps Are Inoperable',
    symptom: 'Your apps become inoperable. Read,
write, and cf CLI operations do not work.',
    cause: 'Your persistent disk might be full',
    solution: 'Contact your operator to check if your persistent disk is full.
For more information about troubleshooting this problem, see
<a href="./troubleshoot.html#persistent-disk">Persistent Disk is Full</a>.'
} %>



<%= partial "./troubleshoot-template", locals: {
    id: 'm-tls-error',
    description: 'Apps Cannot Connect to the Database',
    symptom: 'Apps can fail to connect to the database.',
    cause: '<ul>
    <li>When your app uses MySQL Connector/J v5.1.41 or earlier.
    </li>
    <li>When your app uses mutual TLS (mTLS).</li>
</ul>',
    solution: '<ul>
    <li>See <a href="#connector">MySQL Connector/J v5.1.41 or Earlier</a> below.</li>
    <li>See <a href="#m-tls">Mutual TLS</a> below.</li>
</ul>'
} %>




<%= partial "./troubleshoot-template", locals: {
    id: 'connecter',
    description: 'MySQL Connector/J v5.1.41 or Earlier',
    symptom: '<p>Apps cannot connect to the database when TLS is enabled and
the apps are using MySQL Connector/J v5.1.41 or earlier.</p>',
    cause: '<p>You see errors about certificates.</p>
<p>For example:</p>
<pre>Caused by: javax.net.ssl.SSLHandshakeException: Received fatal alert: bad_certificate
        at sun.security.ssl.Alerts.getSSLException(Alerts.java:192) ~[na:1.8.0_152]</pre>',
    solution:'<p>If you cannot update the MySQL Connector/J, do the workaround in
<a href="https://community.pivotal.io/s/article/how-to-disable-keymanager-and-or-trustmanager-in-container-security-provider-framework-in-the-java-buildpack">
How to disable KeyManager and TrustManager in Container Security Provider Framework in the 
Javanbuildpack</a> in the Pivotal Support knowledge base.</p>'
} %>


<%= partial "./troubleshoot-template", locals: {
    id: 'm-tls',
    description: 'Mutual TLS',
    symptom: 'Apps cannot connect to the database when TLS is enabled and your apps uses mTLS.',
    cause: 'You see network errors in your app logs.',
    solution: 'To resolve this issue disable mTLS in your apps.'
} %>



## <a id="techniques"></a> Techniques for Troubleshooting

See the following sections for troubleshooting techniques when using 
the Cloud Foundry Command-Line Interface (cf CLI) to perform basic 
operations on a <%= vars.product_short %> service instance.

Basic cf CLI operations include `create`, `update`, `bind`, `unbind`, and `delete`.


### <a id="parse-error"></a>Understand a Cloud Foundry (CF) Error Message

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial "./services-tshoot/tshoot-tech-parse-error" %>

### <a id="instance"></a> Find Information about Your Service Instance

You might need to find the name, GUID, or other information about a service instance.
To find this information, do the following:

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space.
The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan        bound apps    last operation
    my-instance   p.mysql      db-small                  create succeeded
    </pre>

1. To retrieve more information about a specific instance, run `cf service SERVICE-INSTANCE-NAME`

1. To retrieve the GUID of the instance, run `cf service SERVICE-INSTANCE-NAME --guid`

   The GUID is useful for debugging.




## <a id="kb"></a>Use the Knowledge Base (Community)

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial "./services-tshoot/tshoot-kb" %>

## <a id="support"></a>File a Support Ticket

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial "./services-tshoot/tshoot-support-dev" %>
