---
title: Troubleshooting On-Demand Instances
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic provides techniques app developers can use to begin troubleshooting on-demand instances.

## <a id="inaccessible"></a>If Instances or Database are Inaccessible

You might experience the following during upgrades or in a leader-follower topology.

### <a id="outages"></a>Temporary Outages

MySQL for PCF service instances can become temporarily inaccessible during upgrades and VM or network failures.
For more information, see [Service Interruptions](./upgrade.html#interruptions).

### <a id="read-only"></a>Apps Cannot Write to the Database

If you have a leader-follower topology and your apps can no longer write to the database, the leader VM might be read-only.
Contact your operator to check if the leader VM is read-only.
For more information about troubleshooting this problem, see
[Both Leader and Follower Instances Are Read-Only](./troubleshoot.html#both-read-only).

If you can no longer read to the database as well, your persistent disk might be full. For more
information about troubleshooting inoperable apps, see [Apps are Inoperable](#disk-full).

### <a id="disk-full"></a>Apps are Inoperable

If your apps become inoperable, your persistent disk might be full. In this state, read,
write, and Cloud Foundry Command-Line Interface (cf CLI) operations do not work.

Contact your operator to check if your persistent disk is full.
For more information about troubleshooting this problem, see
[Persistent Disk is Full](./troubleshoot.html#persistent-disk).

### <a id="m-tls-error"></a>Apps Cannot Connect to the Database

Apps can fail to connect to the database in the following cases:

+ When your app uses MySQL Connector/J v5.1.41 or earlier.
See [MySQL Connector/J v5.1.41 or Earlier](#connector) below.
+ When your app uses mutual TLS (mTLS). See [Mutual TLS](#m-tls) below.

#### <a id="connecter"></a>MySQL Connector/J v5.1.41 or Earlier

**Symptom:** Apps cannot connect to the database when TLS is enabled and
the apps are using MySQL Connector/J v5.1.41 or earlier.
You see errors about certificates.
For example:

```
Caused by: javax.net.ssl.SSLHandshakeException: Received fatal alert: bad_certificate
        at sun.security.ssl.Alerts.getSSLException(Alerts.java:192) ~[na:1.8.0_152]
```

**Solution:** Upgrade to MySQL Connector/J v5.1.42 or later.
To download, see [MySQL Community Downloads](https://dev.mysql.com/downloads/connector/j/8.0.html).

If you cannot update the MySQL Connector/J, do the workaround in
[How to disable KeyManager and TrustManager in Container Security Provider Framework in the Java
buildpack](https://community.pivotal.io/s/article/how-to-disable-keymanager-and-or-trustmanager-in-container-security-provider-framework-in-the-java-buildpack)
in the Pivotal Support knowledge base.


#### <a id="m-tls"></a>Mutual TLS

**Symptom:** Apps cannot connect to the database when TLS is enabled and your apps uses mTLS.
You see network errors in your app logs.

**Solution:**
To resolve this issue disable mTLS in your apps.

## <a id="errors"></a> Troubleshoot Errors

You might see an error when using the Cloud Foundry Command-Line Interface (cf CLI) to perform basic operations on a MySQL for PCF service instance:

* `cf create`
* `cf update`
* `cf bind`
* `cf unbind`
* `cf delete`

### <a id="parse-error"></a>Understand a Cloud Foundry (CF) Error Message

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '/services-tshoot/tshoot-tech-parse-error' %>

### <a id="instance"></a> Find Information about Your Service Instance

You might need to find the name, GUID, or other information about a service instance.
To find this information, do the following:

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space.
The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan        bound apps    last operation
    my-instance   p.mysql      db-small                  create succeeded
    </pre>

1. To retrieve more information about a specific instance, run `cf service SERVICE-INSTANCE-NAME`

1. To retrieve the GUID of the instance, run `cf service SERVICE-INSTANCE-NAME --guid`

   The GUID is useful for debugging.

### <a id='credential-setting-failure'></a>Error: Failed to Set Credentials in Credential Store

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '/services-tshoot/tshoot-credhub-failing-credentials' %>

### <a id="no-metrics"></a> No Metrics from Log Cache

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial  '/services-tshoot/tshoot-no-metrics' %>

## <a id="kb"></a>Use the Knowledge Base (Community)

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '/services-tshoot/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<!-- The below partial is in https://github.com/pivotal-cf/docs-partials -->

<%= partial '/services-tshoot/tshoot-support-dev' %>
